{% extends "base/base_with_navbar.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
  <section id="gallery__form" class="max-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="gallery__form-container">
        {{ form.title|add_class:"gallery__form__title"|attr:"placeholder:제목" }}

        <label for="fileUpload" class="gallery__icon-container">
          <img src="{% static 'main/images/gallery.png' %}" class="gallery__icon" alt="" />
          <input type="file" id="fileUpload" />
        </label>
        
      </div>
      <div class="bar--gray--thin"></div>
      

      <!--gallery_detail이랑 동일한 class이름, css-->
      <div class="gallery__form__content">
        <img src="{% static 'main/images/gray_box.png' %}" class="gallery__detail__image" />
        <img src="{% static 'main/images/gray_box.png' %}" class="gallery__detail__image" />
      </div>
      <div class="gallery__submit">
        <button class="gallery__form__button">취소</button>
        <button class="gallery__form__button">등록</button>
      </div>
    </form>
  </section>
{% endblock content %}

