{% extends "base/base_with_navbar.html" %}
{% load static %}

{% block title %}{{post.title}} | CVLab{% endblock title %}

{% block content %}
  <div id="post__detail" class="max-container">
    <section>
      <h2 class="post__detail__title">{{ post.title }}</h2>
      <div class="post__detail__inform">
        <li class="post__detail__user">{{ post.author.nickname }}</li>
        <li class="post__detail__date">작성일 2024.01.13</li>
        <li class="post__detail__modifydate">수정 2024.01.13</li>
        <button class="post__detail__modify"><a href="{% url 'post-update' post.id %}">수정</a></button>
        <button class="post__detail__delete"><a href="{% url 'post-delete' post.id %}">삭제</a></button>
      </div>
      <div class="bar--gray--thin"></div>
      <p class="post__detail__content">
        {{ post.content }}
      </p>
      <div class="bar--gray--thin"></div>
    </section>
    <section>
      <div class="container">
        <div class="post__detail__comment">
          <div class="user__info">
            <img
              src="{% static 'post/images/user.png' %}"
              alt="User Image"
              class="user__image"
            />
            <p class="post__detail__username">작성자</p>
          </div>
          <textarea
            type="text"
            class="text-input"
            placeholder="내용을 입력하세요..."
          ></textarea>
          <button class="comment__submit">등록</button>
        </div>
      </div>
    </section>
    <section>
      <div class="post__detail__comments__info">
        <li>댓글</li>
        <li>{{ post.comments.all|length }}</li>
      </div>
      <div class="bar--gray--thin"></div>
      {% for comment in post.comments.all %}
        <div>
          <div class="post__detail__comments">
            <img src="{% static 'post/images/user.png' %}" alt="User Image" class="user__image" />
            <li>{{ comment.user.nickname }}</li>
              <li>{{ comment.dt_created|date:"Y.m.d" }}</li>
              <li>{{ comment.dt_created|date:"H:i" }}</li>
            <div class="post__detail__button">
              <button class="comment__button">수정</button
              ><button class="comment__button">삭제</button>
            </div>
          </div>
          <p class="comments__content">
            {{ comment.comment }}
          </p>
          <div class="bar--gray--thin"></div>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock content %}
