{% extends "base/base_with_navbar.html" %}
{% load static %}


{% block content %}
<main>
<!-- main image -->
        <div class="main__clear__image"></div>
        <div class="main__blur__image"></div> 
        <div class="main__content">
            <li class="main__content__before"><</li>
            <p>2024.01.01<br>TEAM PROJECT<br>SEMINAR</p>
            <li class="main__content__after">></li>
        </div>
    </div>
  <!-- NEWS -->  
    <div class="main__news">
        <div class="main__news__container">
          <div class="main__news__header"><p>NEWS</p></div>
          <div class="main__news__post">
            {% for news in news_list %}
              <div class="main__news__block">
                <div class="main__news__title">{{ news.content }}</div>
                <div class="main__news__date">{{ news.dt_created|date:"Y.m.d" }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <!-- SEMINAR -->  
      <div class="main__seminar__gallery__container">
        <div class="main__seminar__gallery">
          <div class="main__seminar__container">
            <div class="main__seminar__header"><p>SEMINAR</p></div>
            <div class="main__seminar">
              <div class="seminar__block">
                <div class="seminar__box"><button><p>2024.1.1</p></button></div>
                <div class="seminar__box"><button><p>2024.1.8</p></button></div>
              </div>
              <div class="seminar__block">
                <div class="seminar__box"><button><p>2024.1.15</p></button></div>
                <div class="seminar__box"><button><p>2024.1.22</p></button></div>
              </div>
              <div class="seminar__block">
                <div class="seminar__box"><button><p>2024.1.29</p></button></div>
                <div class="seminar__box"><button><p>2024.2.05</p></button></div>
              </div>
              <div class="seminar__block">
                <div class="seminar__box"><button><p>2024.2.12</p></button></div>
                <div class="seminar__box"><button><p>2024.2.19</p></button></div>
              </div>
            </div>
          </div>
          <!-- GALLERY -->
          <div class="main__gallery__container">
            <div class="main__gallery__header"><p>GALLERY</p></div>
            <div class="main__gallery">
              <div class="gallery__block">
                {% for gallery in galleries1%}
                  <a href="{% url 'gallery-detail' gallery.id %}" class="gallery__box"><img src="/uploads/{{ gallery.images.first.image }}"></a>
                {% endfor %}
              </div>
              <div class="gallery__block">
                {% for gallery in galleries2%}
                  <a href="{% url 'gallery-detail' gallery.id %}" class="gallery__box"><img src="/uploads/{{ gallery.images.first.image }}"></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- POST -->
      <div class="main__post__container">
        <div class="main__post">
          <div class="main__post__header"><p>POST</p></div>
          <div class="post">
            <hr>
            <div class="post__top">
              <div class="posts__title"><p>글제목</p></div>
              <div class="post__writer"><p>작성자</p></div>
              <div class="post__date"><p>작성일</p></div>
            </div>
            <hr>
            {% for post in posts %}
              <div class="post__content">
                <a href="{% url 'post-detail' post.id %}" class="posts__title"><p> {{ post.title }} </p></a>
                <div class="post__writer"><p>{{ post.author.nickname }}</p></div>
                <div class="post__date"><p>{{ post.dt_created|date:"Y.m.d" }}</p></div>
              </div>
            {% endfor %}
            <hr>
          </div>
        </div>
      </div>
</main>
{% endblock content %}